<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin apge</title>
</head>
<body>
<h1>Admin page</h1>
<table border="1" style="border: black">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Sex</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Option</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getSex()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text= "*{user.getAuthorities()}"></td>
        <td>
            <form th:method="GET"  th:action="@{user/{id}(id=${user.getId()})}" th:object="${user} ">
                <input type="submit" value="Edit user" >
            </form>
            <form method="POST" th:action="@{remove_user/{id}(id=${user.getId()})}" th:object="${user}">
                <input type="submit" value="Delete User">
            </form>
        </td>
    </tr>
</table>
<br/>
<a th:href="@{create_user}">Create new user</a>
<br/>
<a th:href="@{/user}">User info</a>
<br/>
<a th:href="@{/logout}">Logout</a>
<br/>

</body>
</html>