<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light bg-light-subtle">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--Верхняя навигационная панель-->
<nav class="navbar sticky-top navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Sticky top</a>
    </div>
</nav>

<!--Боковой навбар-->
<div class="d-flex align-items-start row-cols-6 align-bottom bg-white" style="height:100vh">
    <br>
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">User</a>
    </div>
    <div class="tab-content flex-fill bg-light " id="v-pills-tabContent" style="height: 100vh">
        <div class="tab-pane fade show active container" id="v-pills-home" role="tabpanel"
             aria-labelledby="v-pills-home-tab">
            <h1>Admin panel</h1>
            <!--            навбар админ панели-->
            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-users" role="tab"
                   aria-controls="nav-home" aria-selected="true">Users table</a>
                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">New User</a>
            </nav>
            <div class="tab-content  " id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!--                    таблица юзеров-->

                    <table class="table table-striped flex-fill align-content-center">
                        <thead>
                        <tr>
                            <th scope="row" colspan="4">All users</th>
                        </tr>
                        <tr>
                            <th></th>
                        </tr>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--           конец таблицы         -->
                </div>
                <div class="tab-pane fade container-fluid" id="nav-profile" role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    <h4>Add new User</h4>
                    <div class="text-center m-auto">
                        <label for="formControlInput" class="form-label"><b>Email </b></label>
                        <input type="email" class="form-control w-25 row-cols-5" style="margin: auto"  id="formControlInput" placeholder="name@example.com">
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1>User info</h1>
        </div>
    </div>
</div>
</body>
</html>