<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form method="POST" th:action="@{edit_user/{id}(id=*{id})}" th:object="${user}">
    <h1>User, welcome spring boot security page! </h1>
    <br/>
    <h2>User info</h2>
    <!--    <input type="input" th:field="*{id}" th:value="*{id}">-->
    <h3>Username <input type="text" th:field="*{username}"></h3>
    <h3>Password <input type="text" th:field="*{password}"></h3>
    <h3>Email <input type="text" th:field="*{email}"></h3>
    <h3>Sex <input type="text" th:field="*{sex}"></h3>
<!--    <input type="hidden" th:field="*{roles}" th:each="role :${user.getRoles()}">-->
    <br/>
    <b> Roles:
        <th:block th:each="role : ${roles}">
            <input type="checkbox" th:field="*{roles}" th:text="${role.roleName}" th:value="${role.id}">
        </th:block>
    </b>
    <br/>
    <input type="submit">
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form method="POST" th:action="@{edit_user}" th:object="${user}" >-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--        <label for="name">Enter username</label>-->
<!--        <input type="text" th:field="*{username}" id="name">-->
<!--        <br> <label for="password">Enter username</label>-->
<!--        <input type="password" th:field="*{password}" id="password">-->
<!--        <br>-->
<!--        <p>Choose your sex</p>-->
<!--        <label for="male">Male</label>-->
<!--        <input type="radio" value="m" id="male" th:field="*{sex}" name="sex">-->
<!--        <label for="female">Female</label>-->
<!--        <input type="radio" value="f" id="female" th:field="*{sex}" name="sex">-->
<!--        <br>-->
<!--        <label for="email">Enter email</label>-->
<!--        <input type="text" th:field="*{email}" id="email">-->
<!--        <br>-->
<!--        <input type="submit">-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->