<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form method="POST" th:action="@{edit_user/{id}(id=*{id})}" th:object="${user}">
    <h1>User, welcome spring boot security page! </h1>
    <br/>
    <h2>User info</h2>
    <h3>Username <input type="text" th:field="*{username}"></h3>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <h3>Password <input type="text" th:field="*{password}"></h3>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <h3>Email <input type="text" th:field="*{email}"></h3>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label for="male">Male</label>
    <input type="radio" value="m" id="male" th:field="*{sex}" name="sex">
    <label for="female">Female</label>
    <input type="radio" value="f" id="female" th:field="*{sex}" name="sex">
    <div style="color: red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
    <br/>
    <b> Roles:
        <th:block th:each="role : ${roles}">
            <input type="checkbox" th:field="*{roles}" th:text="${role.roleName}" th:value="${role.id}">
        </th:block>
    </b>
    <br/>
    <input type="submit">
</form>
</body>
</html>
