<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>User info</title>
</head>
<body>
<h1> User info</h1>
<br/>
<h3>Username <input type="text" th:value="${user.getUsername()}" readonly></h3>
<!--<input type="text" th:field="${user}">-->
<h3>Email <input type="text" th:value="${user.getEmail()}" readonly></h3>
<h3>Sex <input type="text" th:value="${user.getSex()}" readonly></h3>
<h3>Roles <input type="text" th:value="${user.getRoles()}" readonly></h3>
<a href="/"> Go to index page</a>
<br/>
<a href="/logout"> Log out</a>
</body>
</html>